spawn-at-startup "noctalia-shell" "-d"

binds {
	Mod+Space {
		spawn-sh "noctalia-shell ipc call launcher toggle"
	}
	Mod+S {
		spawn-sh "noctalia-shell ipc call settings toggle"
	}
	Mod+F4 {
		spawn-sh "noctalia-shell ipc call sessionMenu toggle"
	}
	XF86AudioRaiseVolume {
		spawn "noctalia-shell" "ipc" "call" "volume" "increase"
	}
	XF86AudioLowerVolume {
		spawn "noctalia-shell" "ipc" "call" "volume" "decrease"
	}
	XF86AudioMute {
		spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"
	}
	XF86MonBrightnessUp {
		spawn "noctalia-shell" "ipc" "call" "brightness" "increase"
	}
	XF86MonBrightnessDown {
		spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"
	}
}

